.header{
    width: 100%;
    height: 100px;
    background-color: #9b05ff;
    flex-direction: row;
    display: flex;
    align-items: center;
}
.header_1{
    width: 19%;
    height: 60px;
    margin-left: 20px;
    background-color: white;  
}
.header_2{
    width: 60%;
    height: 60px;
    margin-left: 20px;
    background-color: white;
}
.header_3{
    width: 19%;
    height: 60px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
}
.header_bar{
    margin-top: 5%;
    width: 100%;
    height: 100px;
    background-color: #9b05ff;
    flex-direction: row;
    display: flex;
    align-items: center;
}
.header_bar_1{
    height: 60px;
    width: 180px;
    margin-left: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.logo_image{
    height: auto;
    width: 100%;
    padding: 20px;
    overflow: hidden;
}
.header_bar_2{
    width: 70%;
    height: 60%;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav_bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.link{
    text-decoration: none;
    font-family: sans-serif;
    color: white;
    font-weight: 600;
}
.header_bar_3{
    height: 60px;
    width: 180px;
    margin-right: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav_login_button{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
#login_button{
    display: flex;
    /* align-items: center; */
}
#singup_button{
    background-color: white;
    align-items: center;
    color: #9b05ff;
    padding: 8px 20px 8px 20px;
    border-radius: 20px;
}