
/* footer start */
.footer{
    width: 100%;
    height: 300px;
    background-color: #272727;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footer_1{
    width: 30%;
    height: 150px;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 100px;
}
.footer_1a{
    width: 80%;
    height: 32%;
    overflow: hidden;
    align-items: center;
    display: flex;
    border-radius: 10px;
}
.logo_image{
    height: 56px;
    width: 100%;
    overflow: hidden;
}
.footer_1b{
    width: 70%;
    height: 58%;
    font-family:sans-serif;
    font-size: 15px;
    color: white;
}
.footer_2{
    width: 60%;
    height: 200px;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    align-items: center;
}
.footer_2a{
    width: 50%;
    height: 220px;
}
.nav_container{
    flex-direction: column;
    display: flex;
}
.link{
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    padding: 5px;
}
.footer_3{
    width: 40%;
    height: 160px;
    margin-right: 20px;
    /* background-color: white; */
    display: flex;
    align-items: center;
}
.footer_3a{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 2px solid red;
}
.footer_container{
    width: 40%;
    height: 20px;
}
.footer_4{
    width: 100%;
    height: 30px;
    border: 2px solid red;
    background-color: #272727;
    display: flex;
    align-items: center;
}
.heart{
    /* align-items: center; */
    font-family: sans-serif;
    color: white;
}

/* footer end */