/* header start */
.header{
    width: 100%;
    height: 50%;
    background-color: #272727;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header_1{
    width: 30%;
    height: 150px;
    margin-left: 20px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.header_1a{
    width: 100%;
    height: 38%;
    background-color: #d8a4fc;
}
.header_1b{
    width: 100%;
    height: 58%;
    margin-bottom: 3px;
    background-color: #d8a4fc;

}
.header_2{
    width: 60%;
    height: 100%;
    justify-content: space-evenly;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header_2a{
    width: 50%;
    height: 145px;
    background-color: white;
}
.header_2b{
    width: 70%;
    height: 25px;
    background-color: white;
}
.header_3{
    width: 40%;
    height: 160px;
    margin-right: 20px;
    background-color: white;
    display: flex;
    align-items: center;
}
.header_3a{
    width: 100%;
    height: 40px;
    background-color: #d8a4fc;
}
/* header end */
/* =========================================================== */
/* footer start */
.footer{
    width: 100%;
    height: 50%;
    background-color: #272727;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
}
.footer_1{
    width: 30%;
    height: 150px;
    margin-left: 20px;
    /* background-color: white; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.footer_1a{
    width: 80%;
    height: 38%;
    overflow: hidden;
    align-items: center;
    display: flex;
    border-radius: 10px;
}
.logo_image{
    height: auto;
    width: 100%;
    overflow: hidden;
}
.footer_1b{
    width: 100%;
    height: 58%;
    font-family:sans-serif;
    color: white;
}
.footer_2{
    width: 60%;
    height: 100%;
    justify-content: space-evenly;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer_2a{
    width: 50%;
    height: 220px;
}
.nav_container{
    flex-direction: column;
    display: flex;
}
.link{
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    padding: 4px;
}
.footer_2b{
    width: 50%;
}
.heart{
    align-items: center;
    font-family: sans-serif;
    color: white;  
}
.footer_3{
    width: 40%;
    height: 160px;
    margin-right: 20px;
    /* background-color: white; */
    display: flex;
    align-items: center;
}
.footer_3a{
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* footer end */